/* Variable */
:root {
  --mainColor: #317b6a;
  --whiteColor: #fff;
  --trans: 0.5s;
  --paddingTop: 60px;
  --paddingBottom: 60px;
  --secondFont: "Big Shoulders Inline", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--whiteColor);
}

/* Global Rule's */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Rule's */
.services {
  position: relative;
  padding-top: var(--paddingTop);
  padding-bottom: var(--paddingBottom);

  .container {
    .srv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;
    }
    .box {
      flex-basis: 24%;
      position: relative;
      @media (min-width: 776px) and (max-width: 992px) {
        flex-basis: 48%;
      }
      @media (max-width: 776px) {
        flex-basis: 100%;
      }
      border-radius: 4px;
      padding: 15px;
      &:nth-child(2),
      &:nth-child(4) {
        background-color: var(--mainColor);
        border: 2px solid var(--whiteColor);
        .text {
          h2 {
            color: var(--whiteColor);
          }
          p {
            color: #ffffffb9;
          }
        }

        color: var(--whiteColor);
        .icon {
          background-color: var(--mainColor);
          border: 7px solid var(--whiteColor);
        }
      }
      &:nth-child(1),
      &:nth-child(3) {
        background-color: #fff;
        border: 1px solid #00000028;
        box-shadow: 0 0 2px #ddd;
        .icon {
          border: 1px solid #00000028;
          background-color: var(--whiteColor);
        }
        .text {
          h2 {
            color: var(--mainColor);
          }
          p {
            color: #434343;
          }
        }
      }
      &:nth-child(2) {
        position: relative;
        top: -20px;
        @media (max-width: 992px) {
          top: 0px;
        }
      }
      &:nth-child(4) {
        position: relative;
        top: 20px;
        @media (max-width: 992px) {
          top: 0px;
        }
      }
      .icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: absolute;
        left: 50%;
        top: -30px;
        border-radius: 50%;
        transform: translateX(-50%);
        i {
          font-size: 28px;
        }
      }
      .text {
        padding-top: 20px;
        h2 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          line-height: 1.5;
        }
      }
    }
  }
}
/* Main-title */
.main-title {
  text-align: center;
  margin-bottom: 40px;

  h2 {
    color: var(--mainColor);
    font-size: 55px;
    letter-spacing: 1.2px;
    font-family: var(--secondFont);
  }
}

.feature {
  position: relative;
  padding-top: 120px;
  padding-bottom: var(--paddingBottom);
  z-index: 1;
  .overlay {
    width: 400px;
    height: 400px;
    background-color: var(--whiteColor);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    filter: blur(250px);
    @media (max-width: 776px) {
      width: 340px;
      height: 340px;
    }
  }

  &::before {
    content: "";
    z-index: -1;
    background-color: var(--mainColor);
    width: 100%;
    height: 88%;
    top: 100px;
    left: 0;
    position: absolute;
    transform: skewY(-10deg);
  }
  min-height: 100vh;
  .main-title {
    h2 {
      color: var(--whiteColor);
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 776px) {
      flex-direction: column;
    }
    .image {
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
    .srv {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .box {
        background-color: #fff1;
        padding: 20px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 776px) {
          flex-direction: column;
          border-left: none !important;
          border-bottom: 4px solid var(--whiteColor);
          border-top: 4px solid var(--whiteColor);
        }
        border-left: 4px solid var(--whiteColor);
        gap: 10px;
        .icon {
          width: 60px;
          height: 60px;
          font-size: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--whiteColor);
          border: 2px solid var(--whiteColor);
          border-radius: 50%;
        }
        .text {
          h2 {
            color: var(--whiteColor);
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 1.2px;
          }
          p {
            line-height: 1.5;
            color: #ffffffb9;
            font-size: 15px;
          }
        }
      }
    }
  }
}

/* Start App */
.app {
  position: relative;
  &::before {
    content: "";
    background-color: var(--mainColor);
    width: 100%;
    height: 110%;
    top: -140px;
    left: 0;
    position: absolute;
    transform: skewY(10deg);
  }
  min-height: 100vh;
  .navbar {
    .container {
      min-height: 72px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        h2 {
          color: var(--whiteColor);
          font-weight: bold;
          letter-spacing: 1.2px;
          @media (max-width: 776px) {
            font-size: 20px;
          }
        }
        img {
          @media (max-width: 776px) {
            width: 50px;
          }
        }
      }
      .toggle {
        color: var(--whiteColor);
        font-size: 25px;
        transition: var(--trans);
        &.fa-xmark {
          transition: var(--trans);
          color: #f05;
          font-size: 30px;
        }
        @media (min-width: 777px) {
          display: none;
        }
      }
      .list {
        display: flex;
        gap: 10px;
        @media (max-width: 776px) {
          position: absolute;
          flex-direction: column;
          top: 72px;
          background: #fff1;
          width: 80%;
          padding: 15px 20px;
          border-radius: 4px;
          text-align: center;
          z-index: 10;
          backdrop-filter: blur(4px);
          left: 50%;
          transition: var(--trans);
          transform: translateX(-50%) scale(0);
          pointer-events: none;
          opacity: 0;
          &.active {
            transform: translateX(-50%) scale(1);
            pointer-events: all;
            opacity: 1;
          }
        }
        li {
          a {
            font-size: 17px;
            @media (max-width: 776px) {
              padding: 7px;
            }
            display: block;
            color: #ffffffb9;
            transition: var(--trans);
            letter-spacing: 1.1px;
            display: block;
            position: relative;
            &.active,
            &:hover {
              color: #fff;
              &::before {
                content: "";
                position: absolute;
                width: 0%;
                animation: theWidth 0.3s linear forwards;
                height: 2px;
                background-color: var(--whiteColor);
                transition: var(--trans);
                bottom: -7px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  .landing {
    height: calc(100vh - 72px);
    position: relative;
    .overlay {
      width: 400px;
      height: 400px;
      background-color: var(--whiteColor);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(250px);
      @media (max-width: 776px) {
        width: 340px;
        height: 340px;
      }
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      .box {
        h2 {
          font-family: "Big Shoulders Inline", sans-serif;
          position: relative;
          color: var(--whiteColor);
          font-size: 120px;
          width: 100%;
          text-align: center;
          @media (max-width: 776px) {
            font-size: 50px;
          }
          letter-spacing: 1.3px;
          span {
            writing-mode: vertical-lr;
            display: block;
            position: absolute;
            right: -70px;
            bottom: -135px;
            font-size: 60px;
            @media (max-width: 776px) {
              right: 0;
              bottom: -105px;
              font-size: 40px;
              rotate: 0deg;
            }
          }
        }
        img {
          width: 450px;
          @media (max-width: 776px) {
            width: 340px;
          }
        }
      }
    }
  }
}
/* End App */

/* Start Contact */
.contact {
  padding-top: var(--paddingTop);
  padding-bottom: var(--paddingBottom);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 776px) {
      flex-direction: column;
    }
    form {
      flex-basis: 50%;
      @media (max-width: 776px) {
        order: 2;
        flex-basis: 100%;
        width: 100%;
      }
      input,
      textarea {
        display: block;
        padding: 10px 15px;
        border: 1px solid #00000028;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 4px;
        font-size: 15px;
        text-transform: capitalize;
        outline: none;
        caret-color: var(--mainColor);
        transition: var(--trans);
        &:focus {
          box-shadow: 0 0 4px var(--mainColor) inset;
        }
      }
      button {
        background-color: var(--mainColor);
        color: var(--whiteColor);
        padding: 10px 15px;
        width: 80%;
        @media (max-width: 776px) {
          width: 100%;
        }
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1.2px;
        display: block;
        margin: 0 auto;
        transition: var(--trans);
        &:hover {
          opacity: 0.7;
        }
      }
      textarea {
        height: 100px;
        resize: none;
      }
    }
    .image {
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
  }
}
/* End Contact */

footer {
  background-color: #243733;
  padding: 15px;
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: 19px;
    color: var(--whiteColor);
    letter-spacing: 1.2px;
    span {
      color: var(--mainColor);
    }
    i {
      color: #f05;
    }
  }
}

/* Our Animation */

@keyframes theWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
